* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0; 
  background: linear-gradient(135deg, #081D30 0%, #1B3E66 100%);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

nav {
  flex: 1; /* Ocupa el espacio central */
  display: flex;
  justify-content: center; /* Centra los enlaces horizontalmente */
  gap: 30px;
}

nav a {
  position: relative; /* Necesario para ::after */
  color: white;
  text-decoration: none;
  padding-bottom: 5px; /* Espacio para la línea */
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0; /* Comienza sin ancho */
  height: 2px;
  background-color: #5ac8fa;
  transition: width 0.3s ease; /* Duración y suavidad */
}

nav a:hover {
  color: #4FC3F7; /* Azul claro al pasar */
}

nav a:hover::after {
  width: 100%; /* Se expande hasta cubrir todo el enlace */
}

header img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 160px;
}

.spacer {
  width: 40px; /* Igual al ancho aproximado del logo para simetría */
}

#Hero {
  margin-top: 0;
  color: white;
  height: 80vh;
}

#anuncio {
  display: flex;
}
